@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --primary-color: #fff;
  --gradient-color: linear-gradient(to right, #672280, #a626d3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #e5e5e5;
  width: 100vw;
  font-family: "Inter", sans-serif;
}
.App {
  max-width: 550px;
  background: var(--primary-color);
  margin: 50px auto;
}
.header {
  padding-left: 20px;
  height: 65px;
  background: var(--gradient-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}
.header-right {
  display: flex;
  align-items: center;
}
.logo {
  width: 31.31px;
  height: 26.22px;
  margin-right: 7px;
}
.header-right .logo-title {
  font-size: 21px;
  font-weight: bold;
}
.header h3 {
  font-size: 12px;
  font-weight: 400;
  padding-right: 37px;
}
.meme {
  position: relative;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme-image {
  max-width: 100%;
  border-radius: 3px;
}
main {
  padding: 36px;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 rgb(36, 25, 25), 0 -2px 0 #000,
    -2px 0 0 #000, 2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #639;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: "Inter", sans-serif;
}

.form--submit {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;
  cursor: pointer;
}

.form--marketing {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form--marketing > input {
  margin-right: 10px;
} */
